{% extends "base.html" %}
{% block childCSS %}<link rel="stylesheet" href='{{ url_for("static", filename="styles/chat.css") }}'>
<script src='{{ url_for("static", filename="scripts/chat.js") }}'></script>{% endblock %}
{% block content %}
<h1>Chat</h1>
<p>Room code: {{room}}</p>
<ul id="messageUL">
{% for mes in messages %}
<script>
  createChatLine("{{mes}}");
</script>
{% endfor %}
</ul>
<label for="message">{{name}} &gt;</label>
<input type="text" name="message" id="message">
<button type="submit" onclick="sendMessage();">Send!</button>
{% endblock %}
