{% extends "base.html" %}
{% block childCSS %}<link rel="stylesheet" href='{{ url_for("static", filename="styles/chat.css") }}'>
<script src='{{ url_for("static", filename="scripts/chat.js") }}'></script>{% endblock %}
{% block content %}
<h1>Chat</h1>
<p id="roomcode">Room code: {{room}}</p>
<div class="messageContainer">
  <ul id="messageUL">
    {% for mes in messages %}
      <script>
        createChatLine("{{mes['sender']}}", "{{mes['message']}}", "{{mes['time']}}");
      </script>
    {% endfor %}
  </ul>
</div>
<div class="inputContainer">
  <label for="message">{{name}}:</label>
  <input type="text" name="message" id="message">
  <button type="submit" id="submitButton" onclick="sendMessage();">Send!</button>
</div>
{% endblock %}
