{% extends "base.html" %}
{% block childCSS %}<link rel="stylesheet" href='{{ url_for("static", filename="styles/index.css") }}'>
<script src='{{ url_for("static", filename="scripts/index.js") }}'></script>{% endblock %}
{% block content %}
<div class="forms">
  <form action="/create" method="post">
    <h3>Create a server</h3>
    <label for="name">Server name</label>
    <input type="text" name="name" id="name" maxlength="50">
    <label for="code">Join code</label>
    <input type="text" name="code" id="code" onchange="codeInUse();" maxlength="50">
    <input type="submit" value="Create!">
  </form>
  <form action="/join" method="post">
    <h3>Join a server</h3>
    <label for="code">Join code</label>
    <input type="text" name="code" id="jcode">
    <input type="submit" value="Join!">
  </form>
</div>
<div class="servers">
  <h2>Your servers</h2>
  <div class="serverList">
    {% for i in range(serverCount) %}
      <a href="/chat/{{serverList[i][1]}}">{{serverList[i][0]}}</a>
    {% endfor %}
  </div>
</div>
<div class="accountmgmt">
  <form action="/logout" method="post">
    <input type="submit" value="Log out">
  </form>
  <form action="/delete" method="post" id="delete-form">
    <input type="submit" value="Delete account" id="delete">
    <p>Warning! Deleting your account will result in deletion of any servers you own as well.</p>
  </form>
</div>
{% endblock %}
