{% extends "base.html" %}
{% block childCSS %}<link rel="stylesheet" href='{{ url_for("static", filename="styles/index.css") }}'>
<script src='{{ url_for("static", filename="scripts/index.js") }}'></script>{% endblock %}
{% block content %}
<h1>Welcome to chat app</h1>
{% if error %}
<p id="error">{{error}}</p>
{% endif %}
<div>
  <form action="/" method="post">
    <input type="hidden" name="roomOrServer" value="room">
    <label for="name">Enter your name: </label>
    <input type="text" id="name" name="name" placeholder="Name"><br>
    <input type="checkbox" name="join" id="join" value="yes" onclick="showCode()">
    <label for="join">Join an existing room? </label><br>
    <label for="code" id="codelabel" style="display: none;">Code: </label>
    <input type="text" id="code" name="code" placeholder="eg. eb7f51" style="display: none;"><br>
    <input type="submit" value="Go chat!">
  </form>
  <form action="/" method="post">
    <input type="hidden" name="roomOrServer" value="server">
    <label for="name">SERVER CREATION </label>
    <input type="text" id="name" name="name" placeholder="Name"><br>
    <input type="checkbox" name="join" id="join" value="yes" onclick="showCode()">
    <label for="join">Join an existing room? </label><br>
    <label for="code" id="codelabel" style="display: none;">Code: </label>
    <input type="text" id="code" name="code" placeholder="eg. eb7f51" style="display: none;"><br>
    <input type="submit" value="Go chat!">
  </form>
</div>
<a href="/sign">SIGN</a>
{% endblock %}
